<% content_for :helpbar do %>
<div class="addItems_border">
<ul class="addItems">
	<li class="red"><%= link_to "Новая страница", new_resource_url  %></li>
    <li><%#= link_to 'Добавить новость', new_admin_post_path, :class => "ico_addArrow" %></li>
    <li><a class="ico_addArrow" href="#">Добавить аксессуар</a></li>
</ul>
</div>
<% end %>

<table border="0" id="pages">
	<tr>

	</tr>
</table>