<div class="formWrap">
<% form_for(@post, :as => "blog_post", :url => blogs_path, :html => {:class => [ :validatable]}) do |f| %>
	<div class="w910"><h1>Блог - Создать пост</h1></div>
	<div class="blueBg">
		<div class="w910">
				<div class="text">
					<label for="name">Заголовок</label>
						<%= f.text_field :title %>
						<div class="example"></div>
				</div><div class="not_ready" id="user_name_status"></div><div class="info"></div>
<div class="clear"></div>
				<div class="text">
					<label for="name">Список тегов</label>
						<%= f.text_field :tag_list %>
						<div class="example"></div>
				</div><div class="not_ready" id="user_name_status"></div><div class="info"></div>
<div class="clear"></div>
				<div class="text">
					<label for="name">Категория</label>
						<%= select_tag "post", options_from_collection_for_select(BlogTopic.all, "id", "title") %>
						<div class="example"></div>
				</div><div class="not_ready" id="user_name_status"></div><div class="info"></div>
<div class="clear"></div>
				<div class="text">
					<label for="name">Содержание</label>
						<%= f.text_area :content %>
						<div class="example"></div>
				</div><div class="not_ready" id="user_name_status"></div><div class="info"></div>
<div class="clear"></div>				
		</div>
	</div>
	<div class="w910">
		  
		<div class="errorInfo"></div>
		<input type="submit" class="submit" value="Зарегистрироваться..." />
	</div>
<% end %>
</div>
