<div class="fields">
<%= f.inputs do %>
  <%= f.input :attachment, :as => :file, :label => "Файл" %>
  <%#= f.hidden_field :asset_group_id, :value => @asset_group_id %>
  <%#= f.input :asset_group, :as => :select %>      

<% end %>
  <%= link_to_remove_fields("Удалить", f)%>
</div>
