@charset "utf-8";
 @media screen, projection {
.imageflow, .imageflow *, .imageflow * *, .imageflow * * *, .imageflow * * * *, .imageflow * * * * * {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.imageflow {
	position: relative;
	text-align: left;
	visibility: hidden;
	width: 100%;
}
.imageflow img {
	border: none;
	position: absolute;
	top: 0px;
	visibility: hidden;
	cursor:pointer;
}
.imageflow p {
	margin: 0px auto;
	text-align: center;
}
.imageflow .loading {
	clear: both;
	border: 1px solid #ffffff;
	margin: 0 auto;
	position: relative;
	visibility: visible;
	width: 50px;
	height: 60px;
	background-image: url("/images/ajax_loader.gif");
	background-repeat: no-repeat;
}
.imageflow .loading_txt { text-align: center;}
.imageflow .loading_bar {
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position: 0% 0%;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: #ffffff;
	height: 15px;
	visibility: visible;
	width: 1%;
}
.imageflow .navigation {
	z-index: 10020;
	background-image: url("/images/tr_bg.gif");
}
.imageflow .caption {
	font-weight: 700;
	position: relative;
	text-align: center;
	z-index: 10001;
}
.imageflow .scrollbar {
	height: 1px;
	position: relative;
	z-index: 10002;
}
.imageflow .slider {
	display: none;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-image: url("http://192.168.1.121:3000/javascripts/imageflow/slider.png");
	background-origin: padding-box;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: auto;
	height: 14px;
	margin-bottom: 0px;
	margin-left: -7px;
	margin-right: 0px;
	margin-top: -6px;
	position: absolute;
	width: 14px;
	z-index: 10003;
}
.imageflow .slideshow {
	cursor: pointer;
	height: 14px;
	margin: 20px 0px 0px 20px;
	position: absolute;
	width: 14px;
	z-index: 10003;
}
.imageflow .slideshow.pause {
	background-image: url("http://192.168.1.121:3000/javascripts/imageflow/button_pause.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}
.imageflow .slideshow.play {
	background-image: url("http://192.168.1.121:3000/javascripts/imageflow/button_play.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}
.imageflow .images {
	white-space: nowrap;
}
.imageflow .button {
	cursor: pointer;
	background-image: url("/images/compare_scroll.png");
	overflow: hidden;
	height: 36px;
	position: absolute;
	width: 36px;
	top: -123px;
}
.imageflow .previous {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-position: -36px 0px;
	background-origin: padding-box;
	background-repeat: no-repeat;
	background-size: auto;
	float: left;
	margin-bottom: 0px;
	margin-left: -192px;
	margin-right: 0px;
	margin-top: -7px;
}
.imageflow .previous:hover {
	background-position: -36px -36px;
}
.imageflow .next {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-position: -36px 0px;
	background-origin: padding-box;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: auto;
	float: right;
	margin-bottom: 0px;
	margin-left: 30px;
	right: -180px;
	margin-top: -7px;
}
.imageflow .next:hover {
	background-position: 0px -36px;
}
.highslide-container {
	z-index: 10003 !important;
}
.highslide-credits {
	display: none !important;
}
}
