.catalog {}
.catalog div h1 {margin-top: 15px; margin-bottom: 10px;}

.catBanner {background-image: url('../images/sunset2.jpg'); margin: 20px 0px; margin-top: 10px; float: left; clear: both; width: 100%; height: 160px; overflow: hidden; position: relative;}
.podborButton {display: block; text-align: center; position: relative; text-indent: 175px; margin: 25px 0px; padding: 0px; min-width: 360px;
	width: 100%; height: 65px; line-height: 65px; background-color: #165e80; color: white; text-decoration: none; font-size: 17px; clear: both;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	behavior: url('js/PIE-1.0beta3/PIE.htc');
}
	.podborButton:hover {color: #58c9ff; behavior: url('js/PIE-1.0beta3/PIE.htc');}
	.podborButton span {background: no-repeat url('../images/yacht_blue.gif'); 
		width: 171px; height: 36px; display: block;
		position: absolute; top: 15px; left: 50%; margin-left: -160px;
	}

.brand {position: relative; float: left;}
	.brand ul {float: left; clear: both; position: relative; margin-bottom: 20px; width: 100%; margin-left: 75px; width: 800px; display: inline;}
	.brand li {float: left; margin-right: 42px; margin-bottom: 15px; width: 154px;}
	.brand li.number {padding-left: 45px; width: 40px; margin-left: -125px; margin-top: 13px; display: block;
			background-image: url("../images/catalogLine.gif"); background-repeat: no-repeat; background-position: 0px 40%;
	}
	.brand li.number p {font-family: 'HeliosLightRegular', sans-serif; color: #a6a6a6; font-size: 39px; line-height: 39px;}
	.brand li a {display: block; float:left; margin-bottom: 5px;}
		a.add, a.remove {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; white-space: nowrap;
			border-bottom: dashed 1px; font-size: 12px; line-height: 13px; color: #165e80;}
		a.remove {color: #808080;}
		a.add:hover, a.remove:hover {color: #c80009;}
		.brand li a.name {font-family: 'HeliosLightRegular', sans-serif; font-size: 16px;
			color: #4d4d4d; border: none; text-decoration: underline;}
		.brand li a:hover {color: #c80009;}
	.filterResult { float: none !important;}
	.filterResult ul { margin-left: 0px; margin-top: 30px; width: auto;}
	
.cat_model {float: left; clear: both; width: 100%; margin-bottom: 10px;}
	.cat_model .left {width: 420px; overflow: hidden; padding-bottom: 20px;}
		.cat_model .left img { float: left; clear: both; margin-bottom: 15px;}
	.cat_model .right {width: 460px;}
		.cat_model .right .right { width: auto;}
		.cat_model .right .left { width: auto;}
		.cat_model .right img { margin: 8px; margin-top: 0px; padding: 0px;}
			.cat_model .right img.left { margin-left: 0px;}
			.cat_model .right img.right { margin-right: 0px;}
	.cat_model .right p {font-size: 13px; line-height: 20px; margin-bottom: 10px;}
	.indent {text-indent: -8px;}
	
	.videoButton { position: relative; display: inline-block;
		font-family: 'HeliosLightRegular', sans-serif; font-size: 13px; border-bottom: dashed 1px; text-decoration: none; line-height: 15px;
	}
		.videoButton span {position: absolute; background-image: url("../images/video_ico.gif"); display: block; width: 17px; height: 18px; left: -23px; top: -1px;}

.spec {float: left; clear: both; width: 100%; margin-bottom: 10px;}
	.spec table {width: 100%;}
	.spec th {width: 75%; font-weight: normal; text-align: left; overflow: hidden;}
	.spec td {width: 25%;}
	.spec .right {width: 390px;}
	.spec p, .spec a {font-family: "Arial", "Helvetica", sans-serif; font-size: 12px; line-height: 15px;}
	.spec a {text-decoration: none; border-bottom: dotted 1px;}
		noindex:-o-prefocus, /* opera hack */
		.spec a {display: inline-block;} 
	.spec p {color: #666666; position: relative;}
	.spec .name { width: 95%;}
	.spec .points { position: relative; position: absolute; width: 1000px; margin-right: -1000px; height: 0px; border-bottom: dotted 1px #b3b3b3; margin-left: 4px; bottom: 7px;}
	.spec .value {display: block; margin-top: -20px;}
	
.wallpapers {}
	.wallpapers li { line-height: 17px; float: left; width: 16%; margin: 0px 2%; margin-bottom: 20px; text-align: center;
		background:#f9f9f9;
	}
	.wallpapers li span { border: solid 5px #f1f1f1; display: block; padding-bottom: 10px;}
	.wallpapers li img { margin-bottom: 10px; margin-top: 5px;}
	.wallpapers li a { font-size: 12px; line-height: 17px;}