html, body {
	width: 100% !important;
	height: 100% !important;
	margin: 0px;	padding: 0px;
}
body {
	background-color: #fff;
	background-image: url("../images/color.gif");
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #1a1a1a;
	position: relative;
}
div, p, img, ul, li, table, tr, td, th, a, span, h1, h2, h3, h4, h5, pre {margin: 0px;	padding: 0px;}
ul, li {list-style-type: none; position: relative;}
img {border: none; position: relative;}
table, tr, td, th {vertical-align: top; border-collapse:collapse;}
div {border: solid 0px red;}
p, a {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 14px;
	line-height: 22px;
}
p {color: #1a1a1a; padding-bottom: 7px;}
a {color: #165e80; cursor: pointer;}
a:hover {color: #c80009;}
.psevdo { text-decoration: none !important; border-bottom: dashed 1px !important;}

.color_black { color: black;}
.color_gray_l {color: #808080;}
.color_gray_m {color: #666666;}
.color_gray_d {color: #333333;}

.color_blue {color: #165e80;}
.color_a {color: #165e80;}
.color_red {color: #c80009;}

.split_line {
	float: left;
	width: 100%;
	height: 1px;
	background-color: #e6e6e6;
	overflow: hidden;
	margin: 10px 0px;
}

.border_red {border: solid 1px red;}
.border_blue {border: solid 1px blue;}

.left {float: left !important;}
.right {float: right !important;}
.clear {clear: both !important;}
.noclear {clear: none !important;}

.hide {display: none !important;}
.hidden {display: none !important;}
.show {display: block;}
.overflow {overflow: hidden;}

#main_container {
	max-width: 1200px;
	min-width: 950px;
	margin: 0px auto;
	-khtml-user-select: none;
	-webkit-user-select: none;
	position: relative;
}
.contMargin {
	margin: 8px;
	margin-top: 0px;
	-khtml-user-select: auto;
	-webkit-user-select: auto;
	position: relative;
}
.contMargin.bg {
	margin-bottom: 0px;
	margin-top: 8px;
	background-image: url("../images/mainBG.gif");
	background-repeat: repeat-x;
	background-color: white;
}
.wrap {width: 100%; min-width: 950px; background: repeat-x 0% 0% url("../images/gradient.gif"); float:left; clear: both; position: relative; overflow: hidden;}
.mapBg {background-image: url("../images/map.gif"); background-position: 50% 0%; background-repeat: no-repeat; position: absolute; left: 0px; width: 100%; height: 100%;overflow: hidden;}
	.mapBg img {display: none; position: fixed; top: 0px; left: 0px;}
	.mapBg.bottom {bottom: 0px;}
	.transparent .mapBg img {display: block; position: fixed; top: 0px; left: 0px;}
.bgPic {background-image: url("../images/mainBG_pic.gif"); position: absolute; bottom: 0px; left: 0px; width: 550px; height: 1025px; overflow: hidden;
filter:alpha(opacity=10);
-moz-opacity: 0.1;
-khtml-opacity: 0.1;
opacity: 0.1;
}


.head, .content, .main_menu, .foot, .w910 {
	width: 910px;
	width: 100%;
	margin: 0 auto;
	clear: both;
	position: relative;
}

.head {margin: 0px; padding: 0px; z-index: 5000;}
	.head .right {z-index: 2000; position: relative;}
	.phone {float: left; margin-top: 23px; clear: both; position: relative;}
	.phone, .phone a {font-size: 29px; font-family: 'HeliosLightRegular', sans-serif; position: relative;}
	.phone a { text-decoration: none; border-bottom: dashed 1px; line-height: 25px;}
	.logo {float: left; margin-top: 25px; margin-bottom: 30px; width: 193px; height: 89px; display: block; overflow: hidden;
		background-image: url("../images/PrezidentNeva.gif"); padding: 0px;}
	.home, .mail, .sitemap {display: block; background-image: url("../images/hms_ico.gif"); width: 16px; height: 12px; overflow: hidden; float:left; margin-left: 15px; margin-top: 45px;}
	.home {background-position: 0px 0px;}
	.mail {background-position: -16px 0px;}
	.sitemap {background-position: -32px 0px;}
	.client {float: left; background-color: #165e80; margin-left: 20px; margin-top: 18px; padding: 8px 15px;}
		.client, .client p, .client a {color: white; text-decoration: none; position: relative;}
		.client a {border-bottom: solid 1px;}
		.client .enter {border-bottom: dashed 1px; z-index: 231;
			-moz-user-select: none;
			-khtml-user-select: none;
			-webkit-user-select: none;
		}
		.client a:hover {color: #58c9ff;}
		.client .enter:hover {color: #58c9ff;}
		.client .active {color: #58c9ff; border: none;}
		.client .active:hover  {color: #58c9ff;}
		.client .name {background: no-repeat 0px 6px url("../images/man.gif"); padding-left: 20px; margin-right: 35px; border: none; float: left;}
		.client .name span { border-bottom: solid 1px;}

.main_menu {}

.w910 {width: 910px;}
#content {padding-top: 15px; z-index: 4000; overflow: hidden; position: relative;}
	.typical .left {float: left; width: 200px; margin-right: -225px; display: inline;}
	.typical .right {float: left !important; margin-left: 225px; display: inline;}
	.typical .right .right {float: right !important; width: auto;}
	.typical .right .left {float: left !important; width: auto;}
	.typical .right img {max-width: 670px; width: auto;}
	.typical .left img {max-width: 195px; width: auto;}
	.contentWrap {margin: 30px 50px; clear:both; margin-right: 60px;}
	.col_2 {width: 48% !important; margin: 0px !important;}
	.col_4 {width: 25% !important; margin: 0px !important; float: left;}
	
	.personalInfo .left {float: left; width: 380px; margin-right: -405px; display: inline;}
	.personalInfo .right {float: right !important; margin-left: 405px; display: inline;}
	.personalInfo .right .right {float: right !important; width: auto;}
	.personalInfo .right .left {float: left !important; width: auto;}
	.personalInfo .right img {max-width: 500px; width: auto;}
	.personalInfo .left img {max-width: 375px; width: auto;}

.foot {height: 80px;}
	.foot a, .foot p {font-size: 10px; line-height: 15px; color: white;}
	.foot a {color: #99bbd1;}
	.foot a:hover {color: white;}
	.foot .author, .copyright {margin: 15px 0px; margin-bottom: 8px;}
	.foot .author {float: right; background-image: url("../images/Logomotiv.gif"); background-repeat: no-repeat; padding-left: 35px; background-position: 0px 3px;}
	.foot .copyright {float: left; text-indent: -11px; margin-right: 80px; padding-left: 12px; margin-left: -12px;}
	.foot .smap {margin-left: 9px; float: left; clear: both;}
	.search {float: left; clear: both; display: inline; height: 22px; margin-top: 18px; position: relative; margin-left: 9px;}
		.search input {border: none; outline: 0 none; background-image: url("../images/search_m.gif"); border:0; position: relative;
			margin: 0px; padding: 0px; height: 22px; width: 225px; color: #808080; font-size: 11px; line-height: 12px; float: left; clear: both;}
		.search input:focus {border: none; outline: 0 none; color: black;}
		.search .ico {background-image: url("../images/search_ico.gif"); width: 17px; height: 16px; position: absolute; top: 3px; right: -5px;}
			.search .ico:hover {background-position: 0px -16px;}
		.search .l, .search .r {background-image: url("../images/search_rounds.png"); width: 12px; height: 22px; position: absolute; top: 0px; border:0; overflow: hidden;}
		.search .l {left: -12px;}
		.search .r {background-position: -12px 0px; right: -12px;}
	.yacht {height: 55px; clear: both; position: relative;}
		.yacht .pict { width: 87px; height: 33px; position: absolute; bottom: 1px; left: 82%;}
		.yacht .pict a.yachtPic {background: url('../images/yacht.png'); display: block; width: 87px; height: 33px; z-index: 999; outline: none;}
		.yacht .water {background-color: #00558e; width: 100%; height: 9px; position: absolute; bottom: -1px; left: 0px;
			filter:alpha(opacity=50);	-moz-opacity: 0.5;	-khtml-opacity: 0.5; opacity: 0.5; overflow: hidden;  z-index: 1001;
		}
		.tempTipData, .yacht_tip_dataWrap { float: left; clear: both;}
		.yacht_tip_container {position: absolute !important; bottom: 42px; right: 17px; z-index: 1000;}
		.yacht_tip_data {border: solid 1px #acacac; padding: 35px; padding-top: 26px; width: 490px; display: block; overflow: hidden; position: relative; background-color: white; margin: 0px; height: auto;}
			.yacht_tip_data img { margin-top: 4px; margin-bottom: 5px; margin-right: 15px; display: inline; float: left;}
			.yacht_tip_data p, .tip_data a { font-size: 13px; line-height: 16px; font-family: "Verdana", "Geneva", sans-serif;}
			.yacht_tip_data p { color: #1a1a1a;}
			.yacht_tip_data .close { width: 20px !important; height: 20px !important; background: url("../images/compareResult_x.gif"); position: absolute; top: 10px; right: 10px; border: none; overflow: hidden;}
			.yacht_tip_data .close:hover { background-position: 0px -20px;}
			.yacht_tip_container .arrow {background: url("../images/yacht_tip_arrow.gif") !important; width: 31px !important; height: 36px !important;
				display: none; overflow: hidden;
				position: absolute; top: 100% !important; margin-top: -13px; right: 49px !important; z-index: 200; float: left; clear: both;
			}
			.yacht_tip_data .refresh {position: absolute; bottom: 9px; right: 9px;}
			.yacht_tip_data .refresh, .yacht_tip_data .close {-moz-user-select: none;	-khtml-user-select: none;	-webkit-user-select: none;}
			
.refresh {background: url("../images/refresh.gif"); width: 22px !important; height: 22px !important; overflow: hidden; background-position: -66px 0px;}
		
		.transparent .yacht { background: none;}
.transparent {}
	.transparent .contMargin.bg {background: none;}
	.transparent .head { background-image: url('../images/head_bg.png'); background-repeat: repeat;}
	.transparent #content { background-image: url('../images/content_bg.png');}
	.transparent .foot { background-image: url('../images/foot_bg.png');}
	.transparent .logo {background-image: url('../images/PrezidentNeva.png');}
	.transparent .phone, .transparent .phone a {color: white;}
	.transparent .phone a:hover { color: #c80009}
	.transparent .home {background-position: 0px -12px;}
	.transparent .mail {background-position: -16px -12px;}
	.transparent .sitemap {background-position: -32px -12px;}
		.home:hover {background-position: 0px -24px;}
		.mail:hover {background-position: -16px -24px;}
		.sitemap:hover {background-position: -32px -24px;}
