html, body {
	width: 100%;	height: 100%;
	margin: 0px;	padding: 0px;
}
body {
	background-color: #fff;
	background-image: url("../images/color.gif");
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #1a1a1a;
}
div, p, img, ul, li, table, tr, td, a, span, h1, h2, h3, h4, h5, pre {margin: 0px;	padding: 0px; position: relative;}
ul, li {list-style-type: none; position: relative;}
img {border: none; position: relative;}
table, tr, td, th {vertical-align: top;}
div {border: solid 0px red;}
p, a {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 14px;
	line-height: 22px;
}
p {color: #1a1a1a; padding-bottom: 7px;}
a {color: #165e80;}
a:hover {color: #c80009;}

.color_black { color: black;}
.color_gray_l {color: #808080;}
.color_gray_m {color: #666666;}
.color_gray_d {color: #333333;}

.color_blue {color: #165e80;}
.color_red {color: #c80009;}

.split_line {
	float: left;
	width: 100%;
	height: 1px;
	background-color: #e6e6e6;
	overflow: hidden;
	margin: 10px 0px;
}

.border_red {border: solid 1px red;}
.border_blue {border: solid 1px blue;}

.left {float: left;}
.right {float: right;}
.clear {clear: both;}

.hide {display: none;}
.show {display: block;}

#main_container {
	max-width: 1200px;
	min-width: 950px;
	width: expression(document.body.clientWidth < 950? "950px" : document.body.clientWidth > 1200? "1200px" : "auto");
	margin: 0 auto;
}
.contMargin {
	margin: 0px 8px;
	background-image: url("../images/mainBG.gif");
	background-repeat: repeat-x;
	background-color: white;
	position: relative;
}
.wrap {width: 100%; min-width: 950px; background-image: url("../images/gradient.gif"); background-repeat: repeat-x; float:left; clear: both; padding-top: 8px;}
.mapBg {background-image: url("../images/map.gif"); background-position: 50% 0%; background-repeat: no-repeat; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;}
.bgPic {background-image: url("../images/mainBG_pic.gif"); background-position: 0% 100%; background-repeat: no-repeat; position: absolute; bottom: 0px; left: 0px; width: 550px; height: 1025px;
filter:alpha(opacity=10); /* IE 5.5+*/
-moz-opacity: 0.1; /* Mozilla 1.6 и ниже */
-khtml-opacity: 0.1; /* Konqueror 3.1, Safari 1.1 */
opacity: 0.1; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}


.head, .content, .main_menu, .foot {
	width: 910px;
	margin: 0 auto;
	position: relative;
	clear: both;
}
.head {height: 145px;}
	.phone {float: left; margin-top: 23px; clear: both;}
	.phone, .phone a {font-size: 29px; font-family: 'HeliosLightRegular', sans-serif;}
	.phone a { text-decoration: none; border-bottom: dashed 1px; line-height: 25px;}
	.logo {float: left; margin-top: 25px;}
	.home, .mail, .sitemap {display: block; width: 16px; height: 12px; overflow: hidden; float:left; margin-left: 15px; margin-top: 45px;}
	.home {background-image: url("../images/home.gif");}
	.mail {background-image: url("../images/mail.gif");}
	.sitemap {background-image: url("../images/sitemap.gif");}
	.home:hover {background-image: url("../images/home_over.gif");}
	.mail:hover {background-image: url("../images/mail_over.gif");}
	.sitemap:hover {background-image: url("../images/sitemap_over.gif");}
	.client {float: left; background-color: #165e80; margin-left: 20px; margin-top: 18px; padding: 8px 15px;}
		.client, .client p, .client a{ color: white; text-decoration: none;}
		.client a {border-bottom: solid 1px;}
		.client .enter { border-bottom: dashed 1px;}
		.client a:hover {color: #58c9ff;}

.main_menu {margin-bottom: 15px; z-index: 20;}

.content {z-index: 19;}
	.content.typical .left {float: left; width: 200px; margin-right: -225px;}
	.content.typical .right {float: left; width: auto; margin-left: 225px;}
	.content.typical .right img {max-width: 670px;}
	.contentWrap {margin: 30px 50px; clear:both; margin-right: 60px;}
	.col_2 {width: 50%;}
	.content.typical .col_2 {width: 48%;}
	.content.typical .col_2.left {float: left;}
	.content.typical .col_2.right {float: right;}

.foot { height: 80px;}
	.foot a, .foot p {font-size: 10px; line-height: 15px; color: white;}
	.foot a {color: #99bbd1;}
	.foot a:hover {color: white;}
	.foot .author, .copyright {margin: 15px 0px; margin-bottom: 8px;}
	.foot .author {float: right; background-image: url("../images/Logomotiv.gif"); background-repeat: no-repeat; padding-left: 35px; background-position: 0px 3px;}
	.foot .copyright {float: left; text-indent: -15px; margin-right: 80px;}
	.foot .smap {margin-left: 9px; float: left; clear: both;}
	.search {float: left; clear: both; display: inline; height: 22px; margin-top: 18px; position: relative; margin-left: 9px;}
		.search input {border: none; outline: 0 none; background-image: url("../images/search_m.gif"); border:0;
			margin: 0px; padding: 0px; height: 22px; width: 225px; color: #808080; font-size: 11px;float: left; clear: both;}
		.search input:focus {border: none; outline: 0 none;}
		.search .ico {background-image: url("../images/search_ico.gif"); background-repeat: no-repeat; background-position: 4px 4px;
		 	padding: 4px; padding-right: 9px; width: 13px; height: 12px; position: absolute; top: 1px; right: -11px;}
			.search .ico:hover {background-image: url("../images/search_ico_over.gif");}
		.search .l, .search .r {width: 12px; height: 22px; position: absolute; top: 0px; border:0;}
		.search .l {background-image: url("../images/search_l.gif"); left: -11px;}
		.search .r {background-image: url("../images/search_r.gif"); right: -11px;}
	.yacht {height: 30px; clear: both; position: relative;}
	.yacht img {position: absolute; bottom: 0px; left: 0px; margin-left: 86%;}
	.yacht .water {background-color: #00558e; width: 100%; height: 8px; position: absolute; bottom: 0px; left: 0px;
		filter:alpha(opacity=50);	-moz-opacity: 0.5;	-khtml-opacity: 0.5; opacity: 0.5;
	}
		
	