.file {color: #808080; margin-bottom: 10px; float: left; clear: both; display: inline; margin-right: 20px; padding-left: 27px; min-height: 29px;
	background-repeat: no-repeat; background-position: 0px 2px;
}
	.file, .file * {font-size: 12px; line-height: 15px;}
	.file a {display: block;}
	.doc {background-image: url("../images/files/doc.gif");}
	.pdf {background-image: url("../images/files/pdf.gif");}
	.xls {background-image: url("../images/files/xls.gif");}
	.ppt {background-image: url("../images/files/ppt.gif");}
	.cat {background-image: url("../images/files/catalog.gif"); padding-left: 47px;}
	.print {background-image: url("../images/files/print.gif"); padding-left: 33px;}
		
.index {clear: both;}
	.index .left {width: 520px;}
	.index .about, .index .about a {font-size: 16px; line-height: 23px; font-family: 'HeliosLightRegular', sans-serif;}
	.index .about {color: #666666; margin-bottom: 20px; position: relative;}
		.index .about span {position: absolute; display: block; width: 3px; height: 40px; top: 3px; left: -11px; background-color: #165e80;}
	.index .right {width: 365px;}
	.index .cols_3 {float: left; width: 100%;}
		.index .cols_3 li {width: 33%; float: left; margin-bottom: 10px;}
		.index .cols_3 li p {margin-top: 7px; font-size: 11px; line-height: 14px; color: #666666;}
		.index .cols_3 li p a {font-family: "Arial", "Helvetica", sans-serif; font-size: 14px; line-height: 21px;}
	.index .part {background-image: url("../images/partBg.gif");float: left; height: 50px; width: 100%; margin-bottom: 30px;}
		.index .part img {float: left; margin-left: 30px; margin-top: 10px;}
		.index .part a {font-family: "Arial", "Helvetica", sans-serif; font-size: 17px; line-height: 20px; display: block; float: left; margin: 4px; margin-top: 14px;}
	.news { width: 90%; margin-bottom: 20px;}
		.news a {clear: both; display: inline-block; margin-bottom: 7px; color: #4b5e66; font-family: "Times New Roman", serif; font-size: 14px; line-height: 17px}
		.news a:hover {color: #c80009;}

.blueBg {background-image: url("../images/bluebg.png"); position: relative; float: left; clear: both; width: 100%;}
.whiteBg {background-image: url("../images/content_bg.png"); background: white; position: relative; float: left; clear: both; width: 100%;}
.filters {padding-top: 15px; margin-top: 10px;}
	.filters h2 { color: black; margin: 0px;}
	.filters ul.f1 {display: inline; float: left; clear: both; margin-bottom: 15px; margin-top: 7px;}
	.filters ul.f1 li { float: left; margin-right: 15px;}
	.filters ul.f1 li a {border: solid 1px white; float: left; vertical-align: middle;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-khtml-border-radius: 10px;
		border-radius: 10px;
		text-decoration: none;
		behavior: url('js/PIE-1.0beta3/PIE.htc');
	}
	.filters ul.f1 li.current a {background-color: #165e80; border: solid 1px #165e80;
		background-image: url('../images/filter_v.gif'); background-repeat: no-repeat; background-position: 215px 57px; behavior: url('js/PIE-1.0beta3/PIE.htc');}
	.filters ul.f1 li.current a span { border: none;}
	.filters ul.f1 li a {height:65px; padding-top: 15px; width:240px; display: block; text-align: center; text-decoration: none;}
	.filters ul.f1 li a span {color: white; border-bottom: dashed 1px white;}
	.filters ul.f1 li a:hover span {color: #165e80; border-bottom: dashed 1px #165e80;}
	.filters ul.f1 li.current a:hover span {color: white;}
	.filters ul.f1 .sport, .filters ul.f1 .all {height:55px; padding-top: 25px;}
	.filters ul.f1 .all {width: 95px;}
	.filters ul.f1 li .all { background: none; border: none; padding-top: 26px;}
	.filters ul.f1 li.current .all span {border-bottom: dashed 1px white;}
	.filters ul.f1 li.current .all:hover span {color: #165e80; border-bottom: dashed 1px #165e80;}
	
	
	.filters ul.f2 {width: 100%;}
	.filters ul.f2 li {text-align: center; float: left; width: 38px; height: 57px; margin-right: 20px; position: relative;}
	.filters ul.f2 a {display: inline-block;  text-decoration: none; border-bottom: dashed 1px; color: white; font-size: 23px; font-family: 'HeliosLightRegular', sans-serif; line-height: 25px; margin-top: 5px;}
	.filters ul.f2 a:hover {color: #165e80;}
	.filters ul.f2 li.current { background-image: url('../images/num3BG.gif'); background-repeat: no-repeat;}
	.filters ul.f2 li.current a { border: none;}
	.filters ul.f2 li.current a:hover { color: white;}
	.filters ul.f2 li.current span {background-image: url('../images/filterArrow.png'); display: block; width: 23px; height: 12px;
		position: absolute; bottom: -12px; left: 7px; overflow: hidden;
	}

.imgBorder {border: solid 1px #cccccc; float: left; padding: 1px;}
	a.imgBorder:hover {border: solid 1px #165e80;}
	.imgBorder img {float: left;}
.imgDescr {color: #808080; font-family: "Times New Roman", serif; font-style: italic; clear: both;}
.quote { border-left: solid 4px #165e80; padding-left: 20px; margin-left: 30px; color: #0093c6;
	font-family: "Times New Roman", serif; font-style: italic; font-size: 17px; line-height: 21px; padding-top: 2px; margin-bottom: 20px; margin-top: 10px;}
.list1 { margin-left: 60px; padding-bottom: 12px; padding-top: 5px;}
	.list1 li { margin-bottom: 7px;}
	.list1 * {color: #666666; text-indent: -18px; padding: 0px;}
.leftBlueBox { background-image: url('../images/bluebg.png'); padding: 20px 0px; padding-bottom: 0px; padding-left: 200px; margin-left: -200px; margin-top: 25px; color: white; float: left; clear: both; width: 100%; display: inline;}
	.leftBlueBox div { padding-left: 34px; display: block; float:left; width: 150px; clear: both; line-height: 15px; min-height: 15px; position: relative; margin-bottom: 20px;}
	.leftBlueBox a {color: white; display: inline-block; float: left; clear: both; line-height: 17px; text-decoration: none;}
	.leftBlueBox a span {border-bottom: solid 1px; width: auto; height: auto; position: relative; display: inline; background: none;}
	.leftBlueBox a:hover {color: #165e80;}
	.leftBlueBox span { background-image: url("../images/icons_blue.gif"); width: 30px; height: 22px; position: absolute; display: block; top: -2px; left: 0px;}
		.joinPic 	{background-position: 0px 0px;}
		.resumePic 	{background-position: 0px -22px;}
		.blogPic 	{background-position: 0px -44px;}
		.exitPic 	{background-position: 0px -66px;}
		.servisPic 	{background-position: 0px -88px;}
	
.contactInfo, .contactInfo * { font-size: 13px; line-height: 17px;}

.compare {position: absolute; top: 0px; left: 220px; z-index: 300;}
	.compare div {}
	.compare a {display: block; clear: both; font-size: 13px; line-height: 15px;}
	.compare .shadow_r, .compare .shadow_b { float: left; clear: both;}
	.compare .shadow_b {background-image: url("../images/c_shadow_b.png"); background-position: 0% 100%; background-repeat: no-repeat; padding-bottom: 15px;}
	.compare .shadow_r {background-image: url("../images/c_shadow_r.png"); background-position: 100% 0%; background-repeat: repeat-y; padding-right: 9px;}
	.compare .data {background-color: white; float: left; clear: both; width: 204px;} 
	.compare .count {border-bottom: dashed 1px; color: #4d4d4d; position: relative; text-decoration: none; margin-left: -6px; display: inline-block; margin: 5px 0px;}
		.compare .count span {
			display: block; overflow: hidden;
			position: absolute; top: 6px; right: -13px;
			background-image: url("../images/compareArrow.gif");
			width: 8px; height: 6px;
		}
		.compare .count.open span {background-position: 0px 0px;}
		.compare .count.close span {background-position: -8px 0px;}
		
		.compare .count:hover {border-bottom: dashed 1px; color: #c80009;}
		.compare .count.open:hover span {background-position: 0px -6px;}
		.compare .count.close:hover span {background-position: -8px -6px;}
		
	.compare .compare_items {float: left; clear: both; padding: 0px 15px; margin-bottom: 3px; width: 174px;}
		.compare .compare_items li {float: left; clear: both; width: 100%; padding: 3px 0px;}
		.compare .compare_items a {display: inline; position: relative; float: left; margin-right: 30px;}
		.compare .compare_items .close {display: block; background-image: url("../images/compare_x.gif"); width: 15px; height: 15px;
			position: absolute; top: 4px; right: 0px; overflow: hidden; margin: 0px;
		}
		.compare .compare_items .close:hover {background-position: 0px -15px;}
	.compare .button, .resume .button, form .button { display: inline-block; border: solid 1px #8da0a8; height: 18px; line-height: 17px; font-size: 12px; text-decoration: none; padding: 0px 6px; margin: 5px auto; margin-bottom: 10px;
		-moz-border-radius: 7px;
			-webkit-border-radius: 7px;
			-khtml-border-radius: 7px;
			border-radius: 7px;
			behavior: url('js/PIE-1.0beta3/PIE.htc');
	}
	.compare .button:hover, .resume .button:hover, form .button:hover {behavior: url('js/PIE-1.0beta3/PIE.htc');}
	.resume .button {height: 30px; line-height: 29px; padding: 0px 30px;}
	form .button {height: 28px; line-height: 29px; padding: 0px 20px; margin: 0px; float: right;}
		
.compare_result {margin-left: -15px; display: inline; margin-bottom: 10px; padding-top: 7px; float: left; clear: both; position: relative; width: 100%;}
	.compare_result .next, .compare_result .prev {width: 36px; height: 36px; display: block; position: absolute; top: 37px; overflow: hidden;
		background-image: url("../images/compare_scroll.png");
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
	}
		.compare_result .next {background-position: 0px 0px; right: -28px;}
		.compare_result .prev {background-position: -36px 0px; left: 182px;}
		.compare_result a.next:hover {background-position: 0px -36px;}
		.compare_result a.prev:hover {background-position: -36px -36px;}

	.compare_result tr {float: left; clear: both;}
	.compare_result tr:hover {background-color: #f4f4f4;}
	.compare_result table {border-bottom: solid 1px #cccccc; padding-bottom: 10px; width: 100%;}
	.compare_result tr.first { border-bottom: solid 1px #cccccc; padding-bottom: 5px; margin-bottom: 10px;}
	.compare_result tr.first:hover {background-color: transparent;}
	.compare_result tr.first th {font-weight: normal;}
	.compare_result tr.first .name {width: 100%;}
	.compare_result th, .compare_result td, .compare_result a {font-family: "Arial", "Helvetica", sans-serif; font-size: 13px; line-height: 15px;}
	.compare_result th, .compare_result td {padding: 9px 0px; line-height: 15px; float: left;}
	.compare_result th {width: 210px; text-align: left; font-size: 12px; color: #666666; padding-left: 15px;}
	.compare_result td {width: 136px; font-size: 15px; overflow: hidden;}
	.compare_result th a { text-decoration: none; border-bottom: dotted 1px; display: inline-block;}
	.compare_result tr.first th a {font-weight: normal; border: none;}
	.compare_result td a {position: relative; font-size: 13px; display: inline-block; float:left; clear: both;}
	.compare_result td span {float: left; margin-bottom: 5px; position: relative;}
	.compare_result td span a {float: left;}
	.compare_result .close {display: block; position: absolute; top: -9px; right: -9px; width: 20px; height: 20px; background-image: url("../images/compareResult_x.png"); z-index: 10; overflow: hidden;}
	.compare_result .close:hover {background-position: 0px -20px;}

.tree {margin-bottom: 20px; float: left; border: solid 1px #a8bac1; position: relative; height: 22px; padding: 0px 15px; border-right: none; display: block; cursor: default;}
	.tree, .tree p, .tree a {color: #165e80; font-size: 13px; line-height: 21px;}
	.tree a:hover {color: #c80009;}
	.tree .arrow {background-image: url("../images/treeArrow.png"); width: 11px; height: 24px; position: absolute; top: -1px; right: -10px;}
	.transparent .tree {background-color: white; border-color: white;}
	.transparent .tree .arrow { background-position: 0px -24px;}
	
.sort, .sort a, .sort b {font-size: 14px; line-height: 22px; height: 22px;}
	.sort a, .sort b {margin: 0px 5px;}
	.sort {color: #999999; float: right; margin-right: -5px;}
	.sort b {color: #1a1a1a;}
	.sort a {text-decoration: none; border-bottom: dashed 1px;}


h1, h1 a {font-size: 40px; line-height: 43px; font-weight: normal; font-family: 'HeliosLightRegular', sans-serif;
	margin-bottom: 15px; clear: both;}
	h1 {color: #333333;}

	h1 span {position: absolute; background-image: url("../images/num2BG.gif"); width: 30px; height: 30px;
			color: white; font-size: 18px; line-height: 29px; text-align: center; bottom: 3px; margin-left: 10px; font-family: "Arial", "Helvetica", sans-serif;
		}

h2, h2 a {font-size: 21px; line-height: 27px; font-weight: normal; font-family: 'HeliosLightRegular', sans-serif;
	position: relative; margin-bottom: 7px; clear: both;}
	h2 {color: #666666; position: relative;}
	noindex:-o-prefocus, /* opera hack */
	h2 a {display: inline-block;} 
	
h3, h3 a {font-size: 16px; line-height: 18px; font-weight: normal; font-family: "Arial", "Helvetica", sans-serif;
	position: relative; margin-bottom: 10px; clear: both;}
	h3 {color: #333333;}
		
.actions {float: right; margin-top: 5px; z-index: 1500; width: 140px;}
	.presence {font-size: 10px; line-height: 11px; margin-bottom: 20px; position: relative; display: block; float: left;} 
	.presence .point {font-size: 23px; line-height: 11px; overflow: hidden; position: absolute; top: 0px; right: -13px; display: block; color: #0093c6;
	*top: 1px;
	}
	.actions span { position: relative;}
	.actions a {text-decoration: none; border-bottom: dashed 1px; display: block; float: left; margin-bottom: 5px; font-size: 13px; line-height: 16px;}
h2 .actions {width: auto; position: absolute; top: 0px; right: 0px; z-index: 6000;}
h2 .actions a {line-height: 15px; margin-top: 1px;}


.sProbegom {float: left; clear: both; border: solid 0px; width: 100%; display: inline;}
	.sProbegom li { float: left; border: solid 0px; width: 150px; margin-right: 46px; padding-bottom: 10px;}
	.sProbegom li * {width: 100%;}
	.sProbegom a, .sProbegom p {float: left; clear: both; margin: 0px; padding: 0px; font-family: "Verdana", "Geneva", sans-serif;}
	.sProbegom a img { width: auto;}
	.sProbegom .date {font-size: 10px; color: #666666; font-style: italic;}
	.sProbegom .name {font-size: 16px; margin-top: 5px; line-height: 18px; font-family: 'HeliosLightRegular', sans-serif;}
	.sProbegom .info { font-size: 12px; line-height: 17px; padding-top: 3px;}
	.sProbegom .price {color: #0093c6; font-size: 17px; font-weight: bold;}
		.sProbegom .price i { font-weight: normal;}
		
.sProbegom_full {}
	.sProbegom_full .left {width: 580px;}
	.sProbegom_full .right {width: 300px;}
	.sProbegom_full .price { font-size: 27px; line-height: 45px; padding:0px; margin-bottom: 10px; color: white; background-image: url("../images/bluebg.png"); text-align: center;}
	.sProbegom_full .mainInfo {  width: 100%; margin-bottom: 10px; }
	.sProbegom_full .mainInfo th { text-align: left; font-size: 16px; line-height: 24px; font-weight: normal;}
	.sProbegom_full .mainInfo td { font-size: 19px; font-weight: normal; line-height: 24px;}
	
	.photo {width: 578px; float: left; clear: both;}
	.photo img {float: left; clear: both;}
	.photo .big {width: 100%; height: 430px; float: left; clear: both; overflow: hidden; margin-bottom: 7px; position: relative;}
	.photo .small {width: 102%; float: left; clear: both; padding-bottom: 10px;}
	.photo .small li {float: left; padding-bottom: 7px; padding-right: 7px;}
	.photo .small li a {float: left; clear: both; width: 108px; height: 82px; position: relative; overflow: hidden; z-index: 1000; border: solid 1px #165e80;}
	.photo .small li a:hover {outline: solid 4px #66b6db; border: solid 1px #66b6db;}

.main_banner {position: relative; margin-bottom: 20px; width: 100%; overflow: hidden; position: relative;}
	.main_banner * {position: relative;}
	.main_banner .images {width: 100%; height: 400px; overflow: hidden;}
	.main_banner .images img {position: absolute; top: 0px; left: 0px;}
	.main_banner .nivo-caption {position: absolute; bottom: 68px; right: -2px; overflow: hidden; background-image: url("../images/bluebg.png");}
	.main_banner .nivo-caption .bg {background-color: #0287c1; position: absolute; display: block; height: 100px; width: 100%; top: 0px; left: 0px; filter:alpha(opacity=66); -moz-opacity: 0.66;	-khtml-opacity: 0.66; opacity: 0.66;}
	.main_banner .nivo-caption * {color: white; white-space: pre; font-size: 28px; line-height: 42px; margin: 0px 25px; margin-right: 90px; font-family: 'HeliosLightRegular', sans-serif; text-decoration: none;}
	.main_banner .nivo-controlNav {background-image: url("../images/mb_button_bg_m.gif"); height: 31px; display: inline-block; padding: 0px;
	margin: 0 auto;
	*zoom: 1;
	*display: inline;
	}
	.main_banner .nivo-controlNav .l, .main_banner .nivo-controlNav .r  {position: absolute; width: 6px; height: 31px; top: 0px;}
	.main_banner .nivo-controlNav .l {background-image: url("../images/mb_button_bg_l.gif"); left: -6px;}
	.main_banner .nivo-controlNav .r {background-image: url("../images/mb_button_bg_r.gif"); right: -6px;}
	.main_banner .nivo-controlNav a {float: left; width: 14px; height: 14px; background-image: url("../images/mb_button.gif"); margin: 8px 6px; text-decoration: none; overflow: hidden;}
	.main_banner .nivo-controlNav a:hover {background-position: 0px -14px;}
	.main_banner .nivo-controlNav a.active {background-position: 0px -28px;}
	.main_banner .nivo-controlNav a.active:hover {background-position: 0px -28px;}
	
.buyProcess {float: left; clear: both; width: 100%; margin-bottom: 30px; display: inline; overflow: hidden; position: relative;}
	.buyProcess .steps {width: 51% !important;}
	.buyProcess .info  {width: 49% !important;}
	.buyProcess .steps { float: left; display: inline; margin-top: -22px !important; overflow: hidden; padding-bottom: 5px;}
	.buyProcess .steps li { background: repeat-y 10px 0px url("../images/buyProcessLine.gif"); padding-top: 22px; display: inline; width: 100%; float: left; clear: both; position: relative;}
	.buyProcess .steps span {color: white; width: 22px; display: block; float: left; text-align: center; line-height: 22px; padding-right: 8px; font-size: 14px; overflow: hidden; background: no-repeat url("../images/buyProcessPic.gif");}
	.buyProcess .steps .arrow {position: absolute; display: none; top: 22px; right: -2px; background: no-repeat url("../images/buyProcessArrow.gif"); overflow: hidden; width: 13px; height: 25px; padding: 0px; float: left; clear: both;}
	.buyProcess .steps .current a {color: #0092c5; font-weight: bold; border: none; cursor: default;}
	.buyProcess .steps .current .arrow { display: block;}
	.buyProcess .steps a {color: #333333; font-size: 13px; font-style: italic; text-decoration: none; border-bottom: dashed 1px;}
	.buyProcess .steps a:hover { color: #0092c5;}
	
	.buyProcess .info {float: left; background-color: #f1f1f1; color: #4d4d4d; position: relative; height: 3000px; margin-bottom: -3000px !important;}
	.buyProcess .info li {display: none; padding: 20px;}
	.buyProcess .info li.current {display: block;}
	
.resume { float: left; clear: both; width: 100%;}
	.resume li {width: 305px; float: left; margin-right: 30px; margin-bottom: 27px;}
	.resume li img { float: left; margin-right: 15px; margin-top: 3px;}
	.resume li .name {font-size: 16px; line-height: 19px;}
	.resume li .invite {font-size: 12px; line-height: 14px; text-decoration: none; border-bottom: dashed 1px;}
	.resume li p {font-size: 11px; line-height: 15px; color: #4d4d4d; padding: 0px; padding-top: 3px;}
	.resume li .yacht {font-size: 11px; line-height: 15px; color: #4d4d4d; padding: 0px; padding-top: 3px;}
	.resume li .blog {background-image: url("../images/blog.png"); background-repeat: no-repeat; font-size: 11px; padding-left: 18px; line-height: 16px;}
	.resume li .ship {font-size: 14px; line-height: 28px; color: #1a1a1a;}
	.resume li .ship span {color: #808080;}
	
.blog_postInfo { float: left; clear: both; width: 100%; padding: 10px 0px; padding-bottom: 30px;}
	.blog_postInfo .split_line { margin: 4px 0px; margin-top: 8px;}
	.blog_postInfo a {font-size: 13px; line-height: 15px;}
	.blog_postInfo .readMore {text-decoration: none; font-size: 17px;}
	.blog_postInfo .readMore span {text-decoration: underline;}
	.blog_postInfo .poster { float: right; padding-right: 17px; padding-top: 8px; position: relative;}
		.blog_postInfo .poster img { margin: 0px 10px; float: right; max-height: 31px; max-width: 31px;}
		.blog_postInfo .poster a { line-height: 29px; display: block;}
	.blog_postInfo .date {float: left; clear: both; font-size: 11px; line-height: 16px; color: #808080;}
	.blog_postInfo .tags {float: left; clear: both; padding-left: 22px; background: no-repeat 0px 5px url("../images/tagsPic.png"); line-height: 21px; padding-bottom: 5px;}
		.blog_postInfo .tags a {color: #808080;}
		.blog_postInfo .tags a:hover {color: #c80009;}
	.blog_postInfo .comments {float: left; padding-left: 20px;}
	
.blog_comments { float: left; clear: both; width: 100%;}
	.blog_comments ul { float: left; clear: both; padding-top: 10px; padding-bottom: 20px;}
	.blog_comments ul li {border: solid 1px #d6d6d6; display: inline; overflow: hidden; width: 100%; margin: 0px; padding: 20px 0px; padding-top: 23px;
		margin-bottom: 20px; float: left; clear: both; position: relative;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		-khtml-border-radius: 6px;
		border-radius: 6px;
		behavior: url('js/PIE-1.0beta3/PIE.htc');
	}
	.blog_comments .date, .blog_comments .poster, .blog_comments .post {margin: 0px 25px; margin-left: 68px;}
	.blog_comments ul li .date {float: right; font-size: 11px; color: #808080;}
	.blog_comments ul li .poster {font-size: 13px; display: inline-block; white-space: nowrap; margin-bottom: 10px; position: relative; display: inline-block;}
	.blog_comments ul li .poster img { position: absolute; left: -43px; top: 5px; float: left; margin: 0px;}
	.blog_comments ul li .post { display: inline-block;}
	.blog_comments ul { width: 100%; }
	.blog_comments ul .addComment { padding: 0px; border: none; display: none;}
	.blog_comments .text, .blog_comments h2, .blog_comments .showCommentForm, .blog_comments .submit {margin: 0px 25px;}
	.blog_comments .showCommentForm { text-decoration: none; font-size: 15px; line-height: 27px; float: right;}
	.blog_comments .showCommentForm span { border-bottom: dashed 1px;}
	.blog_comments .text { width: 91%; margin: 0px; padding-left: 25px; padding-bottom: 10px;}
	.blog_comments .text textarea { width: 100%; height: 110px; font-size: 17px;}
	.blog_comments .submit {margin: 0px 22px; height: 33px; line-height: 33px; font-size: 15px; padding: 0px 20px; display: inline-block;}
	
.pagination {color: white; background: url("../images/bluebg.png"); float: left; clear: both; width: 100%; text-align: center; padding: 0px; cursor: default; display: inline-block;}
	.pagination * {color: white; font-size: 17px; display: inline-block;}
	.pagination span, .pagination em, .pagination a {width: 28px; height: 28px; display: inline-block; line-height: 29px; margin: 10px 0px; overflow: hidden;}
	.pagination .nums { float: none; width: 200px; margin: 0px; border: solid 1px red; margin: 0 auto;}
	.pagination em {background-color: #ffff37; font-style: normal; background: url("../images/pagesPic.png"); cursor: default;}
	.pagination a {}
	.pagination a:hover, .pagination a:hover * {color: #165e80;}
	.pagination .next_page, .pagination .previous_page {float: left; width: auto; text-decoration: none; margin-left: 10px;}
	.pagination .next_page {float: right; margin-right: 10px;}
	.pagination .disabled { display: none;}
	
.resumeMainInfo { margin-bottom: 15px; float: left; width: 100%;}
	.resumeMainInfo .info { width: 300px; float: left;}
	.resumeMainInfo img { margin-top: 4px; margin-right: 10px; float: left; clear: none;}
	.resumeMainInfo h2 { color: #66b8dd; line-height: 25px; float: left; clear: both; margin-bottom: 6px;}
	.resumeMainInfo p { color: #4d4d4d; font-size: 14px; line-height: 16px; float: left; clear: both; padding: 0px; display: block; width: 100%;}
	.resumeMainInfo .submit { font-size: 14px; height: 30px; line-height: 30px; padding: 0px 20px; float: left; margin-top: 30px;}

.personalInfo {}
	.personalInfo .submit { font-size: 12px; line-height: 30px; height: 30px; margin-top: 3px; padding-left: 31px; padding-right: 13px;}
	.personalInfo .edit {background-image: url("../images/personal_editPic.gif"); background-repeat: no-repeat; background-position: 11px 7px;}
	.personalInfo .add {background-image: url("../images/personal_addPic.gif"); background-repeat: no-repeat; background-position: 11px 8px;}
	.pblogList { float: left; padding-bottom: 10px;}
		.pblogList li a {font-size: 14px; line-height: 15px;}
		.pblogList li { padding-bottom: 12px; line-height: 15px;}
		.pblogList .all a { line-height: 16px; background: no-repeat url("../images/tagsPic.png"); padding-left: 20px;}
		.pblogList .all { padding-top: 10px;}
		
.forSale { border: solid 1px #2984bb; background-color: white; padding: 5px 12px; padding-bottom: 9px; text-decoration: none; display: inline-block;}
	.forSale span { border-bottom: dashed 1px;}
	
.tip { text-decoration: none !important; border-bottom: dotted 1px !important; display: inline !important; background: none !important; color: #165e80 !important;}
.tip:hover {color: #c80009 !important;}

.tip_container {position: absolute !important; top: -1000px; left: 50%; z-index: 10000 !important;}
.tip_data {border: solid 1px #acacac; padding: 45px; padding-top: 34px; padding-bottom: 40px; max-width: 310px; display: block; overflow: hidden; position: relative; background-color: white; margin: 0px;}
	.tip_data img { margin-bottom: 8px; display: inline;}
	.tip_data p, .tip_data a { font-size: 11px; line-height: 16px; font-family: "Verdana", "Geneva", sans-serif;}
	.tip_data p { color: #666666;}
	.tip_data .close { width: 20px; height: 20px; background: url("../images/compareResult_x.png"); position: absolute; top: 10px; right: 10px; border: none; overflow: hidden;}
	.tip_data .close:hover { background-position: 0px -20px;}

.newsList {float: left; clear: both;}
	.newsList li { padding-bottom: 12px; width: 100%;}
	.newsList li, .newsList span {float: left; clear: both;}
	.newsList span {font-style: italic; font-size: 12px; line-height: 16px; color: #808080;}
	.newsList li a { font-size: 14px; line-height: 17px; float: left; clear: both;}
	
	
.errorPage { background: no-repeat 50% -200px url("../images/bg_404.gif"); background-color: white;}
	.errorPage * { float: none; clear: none; padding: 0px; margin: 0 auto; text-align: center;}
	.errorPage #content { height: 745px; width: 500px; position: relative; overflow: visible !important; padding: 0px; margin: 0 auto !important; float: none;}
	.errorPage .pages {position: absolute; top: 255px; left: 50%;}
	.errorPage .pages a {position: absolute; top: 0px; white-space: nowrap; font-family: "Times New Roman", serif; font-size: 20px; font-style: italic; display: inline;}
	.errorPage .logo {margin-top: 30px; margin-bottom: 30px;}
	.epicfail {background: none;}
	.epicfail #content {height: auto;}
	.epicfail .logo{ background: url('../images/PrezidentNeva_bw.gif'); width: 131px; height: 60px; margin-bottom: 10px;}
	.epicfail .back { font-size: 19px; text-decoration: none;}
		.epicfail .back span { border-bottom: solid 1px;}
	