@font-face {
	font-family: 'HeliosLightCRegular';
	src: url('helioslightc-webfont.eot');
	src: local('?'), url('helioslightc-webfont.woff') format('woff'), url('helioslightc-webfont.ttf') format('truetype'), url('helioslightc-webfont.svg#webfontnp1iskah') format('svg');
	font-weight: normal;
	font-style: normal;
}