@font-face {
    font-family: 'HeliosLightRegular';
    src: url('he__l__-webfont.eot');
    src: url('he__l__-webfont.eot?iefix') format('eot'),
         url('he__l__-webfont.woff') format('woff'),
         url('he__l__-webfont.ttf') format('truetype'),
         url('he__l__-webfont.svg#webfont6caexic2') format('svg');
    font-weight: normal;
    font-style: normal;
}