.formWrap {width: 100%; float: left; clear: both; margin: 0 auto; padding: 0px;}
form { display: inline; margin: 0px; padding: 0px;}
	form, form a {color: white; font-family: "Arial", "Helvetica", sans-serif; font-size: 16px; line-height: 19px;}
	form a:hover {color: #165e80;}
	form div, form label {}
	form div {}
	form label {float: left; clear: both;}
	form input {float: left; clear: both; padding: 0px; margin: 0px; }
	form .radio {float: left; clear: both; padding: 20px 0px;}
		form .radio label { margin-bottom: 7px;}
		form .radio input {width: 19px; height: 19px; margin-right: 2px;}
	form .text {padding-bottom: 20px; float:left; clear: both; width: 100%;}
		form .text input {width: 430px; height: 40px; margin-left: -3px; position:relative;
			background-color: #FFF;
			background-image: url("../images/form_input_bg.gif");
			background-repeat: repeat-x;
			border: solid 1px #999999;
			font-size: 23px;
			line-height: 40px;
			padding: 0px 10px;
			outline: 0 none;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			-khtml-border-radius: 4px;
			border-radius: 4px;
			behavior: url('js/PIE-1.0beta3/PIE.htc');
			}
			form .text .error {border: solid 1px #c80009; outline: solid 0px #c80009; background-image: url("../images/form_input_bg_err.gif");}
		form .not_ready, form .ready {float: left; background-repeat: no-repeat; background-position: 50% 50%; width: 50px; height: 37px;}
			form .ready { background-image: url("../images/reg_v.gif");}
		form .example {float: left; clear: both; font-family: "Georgia", serif; font-style: italic; color: #d7ecf5; font-size: 12px; width: 430px;}
		form .info {float: left; font-family: "Georgia", serif; font-style: italic; font-size: 11px; line-height: 15px; width: 300px; margin-top: -2px;}
	form .text label { margin-bottom: 1px; width: 100%;}
	form .errorInfo {font-family: "Georgia", serif; font-style: italic; color: #c80009; font-size: 18px; line-height: 19px; width: 750px; padding: 10px 0px;}
	form .submit {background-color: #cccccc; color: white; font-size: 18px; text-decoration: none; line-height: 50px; padding: 0px 30px; display: inline-block;
			-moz-border-radius: 4px; border: none; cursor: pointer; height: 50px; outline: 0 none; margin-left: -3px;
			-webkit-border-radius: 4px;
			-khtml-border-radius: 4px;
			border-radius: 4px;
			behavior: url('js/PIE-1.0beta3/PIE.htc');
	}
	form .submit:hover {background-color: #165e80; color: white; behavior: url('js/PIE-1.0beta3/PIE.htc');}
	form .showPass {text-decoration: none; border-bottom: dashed 1px; font-size: 12px; line-height: 14px; margin-top: 2px; font-style: normal; display: inline;}
	form .showPass:hover {color: #165e80;}
	
.shadow, .shadow .r, .shadow .b, .shadow .bl, .shadow .tr {}
.shadow { background-image: url("../images/shadow_corner_br.png"); background-position: 100% 100%; background-repeat: no-repeat; float: left;
	padding-right: 11px; position: relative; display: inline;
}
.shadow .r, .shadow .b { float: left; display: inline;}
.shadow .r {background-image: url("../images/shadow_r.png"); background-position: 100% 0%; background-repeat: repeat-y; margin-right: -11px; margin-top: 11px; margin-left: -11px; padding: 11px; display: inline;}
.shadow .b {background-image: url("../images/shadow_b.png"); background-position: 0% 100%; background-repeat: repeat-x; padding-bottom: 11px;}
.shadow .tr,.shadow .bl { width: 11px; height: 11px; position: absolute; display: inline; overflow: hidden;}
.shadow .tr {background-image: url("../images/shadow_corner_tr.png"); top: 0px; right: 0px;}
.shadow .bl {background-image: url("../images/shadow_corner_bl.png"); bottom: 0px; left: -11px;}
.shadow .r .data {margin-left: -11px; margin-bottom: -11px; margin-top: -22px;}
	
.enterForm {background-color: white; border: solid 0px #acacac; width: 259px; padding: 17px;
	float: left; clear: both;
}
	.enterForm label {color: #808080; font-size: 12px; clear: both;}
	.enterForm .text {padding-bottom: 5px;}
	.enterForm .text input {width: 242px; height: 17px; line-height: 17px; padding-top:13px; font-size: 15px; position: relative;}
	.enterForm .error {color: #c80009; font-size: 12px; line-height: normal; float: left; width: 120px; margin-top: 7px; padding: 0px;}
	.enterForm .submit {width: 120px; height: 30px; padding: 0px; font-size: 14px; line-height: 14px; margin-top: 7px; margin-right: 15px; float: left; clear: both;}
