body {
   behavior: url("js/csshover3.htc");
}
#main_container {
	width: 990px;
}
.contMargin {
	width: 974px;
}

#content {float: left;}

.main_menu li, .sub1 li, .sub2 li{ width: auto; margin: 0px; padding: 0px; }
.compare_result tr:hover {background-color: #f4f4f4;}
.compare_result tr.first:hover {background-color: transparent;}

.pagination span, .pagination em, .pagination a { float: left; margin-left: 13px;}

form .text {padding-right: 0px;}
form fieldset {padding-bottom: 20px;}
form fieldset.noBorder {padding-bottom: 20px;}

form fieldset.gray_bg{padding-bottom: 20px;}

.sendMsg {display: none;}
#sendMsg {display: inline; width: 100%; margin: 0px; padding: 0px;}
.map .phone { margin: 0px;}

.leftBlueBox { padding-bottom: 20px; padding-left: 32px; margin-left: -32px;}

.blog_comments ul li .date { margin-right: 13px;}

.errorPage .pages {top: 280px;}

.catalog div h1 {margin-top: 5px; margin-bottom: 10px;}