body {
   behavior: url("js/csshover3.htc");
}
#main_container {
	width: 990px;
}
.contMargin {
	width: 974px;
}

#content {float: left;}

.main_menu li, .sub1 li, .sub2 li{ width: auto; margin: 0px; padding: 0px; }
.compare_result tr:hover {background-color: #f4f4f4;}
.compare_result tr.first:hover {background-color: transparent;}

.pagination span, .pagination em, .pagination a { float: left; margin-left: 13px;}

form .text {padding-right: 0px;}
form fieldset {padding-bottom: 20px;}
form fieldset.noBorder {padding-bottom: 20px;}

form fieldset.gray_bg{padding-bottom: 20px;}

.sendMsg {display: none;}
#sendMsg {display: inline; width: 100%; margin: 0px; padding: 0px;}
.map .phone { margin: 0px;}

.leftBlueBox { padding-bottom: 20px;}

.blog_comments ul li .date { margin-right: 13px;}

.errorPage .pages {top: 280px;}

.catalog div h1 {margin-top: 5px; margin-bottom: 10px;}

.fullSitemap .col_4 {width: 23% !important; margin-right: 10px !important; display: inline;}
.fullSitemap ul {width: 100%;}
.fullSitemap ul li {clear: both; width: 100%;}

.blog_postInfo .poster img {float: left;}

.spec .name { width: 95%; overflow: hidden;}

.main_banner .nivo-caption {background-image: url("../images/bluebg.gif");}

.shadow, .shadow .b, .shadow .r, .shadow .bl, .shadow .br, .shadow .tr, .yacht_tip_container .arrow { background-image: none !important;}
