.main_menu {}
.main_menu .arrow {width: 4px; height: 7px; position: absolute; right: 5px; top: 50%; margin-top: -4px; background-image: url("../images/menuArrow.gif"); display: none;}
	.main_menu li.blog {float: right;}
	.main_menu li.blog img { display: inline; position: absolute; padding-left: 13px; top: 1px;}
.main_menu li {float: left; position: relative; margin-right: 18px; margin-left: -7px;}
.main_menu li ul {width: 100%;}
.main_menu li ul li {clear: both; width: 100%;}
.main_menu a, .sub1 a, .sub2 a, .sub3 a {font-family: "Arial", "Helvetica", sans-serif; display: block; position: relative;}
	.main_menu a {color: #333333; font-size: 14px; letter-spacing: 1px; line-height: 18px; padding: 0px 7px; text-transform: uppercase;}
	.sub1 a, .sub2 a, .sub3 a {padding: 2px; padding-bottom: 3px; color: #282d30; font-size: 13px; line-height: 13px; text-decoration: none; letter-spacing: normal; border: none; background-image: url("../images/mmenu_tbg.gif"); text-transform: none;}
	.sub2 a {background-image: url("../images/mmenu_bbg.png");position:relative;display:block;}
	.sub3 a { margin: 0px; padding: 0px;}
.sub1 li, .sub2 li, .sub3 li {margin-left: 0px;}
.sub1, .sub2, .sub3 {display: none; position: absolute; top: 0px; background-image: url("../images/mmenu_wbg.png"); padding: 3px 3px;}
	.sub1 {z-index: 70; padding-top: 28px; background-image: url("../images/mmenu_wbg.png"); left: -3px; top: -3px;}
	.sub2 {z-index: 80; top: -3px;}
	.sub3 {z-index: 90; top: -3px; float: left;}
.main_menu li:hover>a{color: white; border-color: #165e80; background-color: #165e80; z-index: 90; text-decoration: none;}
li:hover>a .arrow{display: block;}
	 .sub1 li:hover>a{background-color: transparent; background-image: url("../images/mmenu_bbg.png"); color: #282d30;}
	 .sub2 li:hover>a{background-color: transparent; background-image: url("../images/mmenu_wbg.png");}
.main_menu li:hover .sub1 {display: block;}
	 .sub1 li:hover .sub2 {display: block; width: 165px; right: -171px;}
	 .sub2 li:hover .sub3 {display: block; width: 382px; right: -422px;}

.sub3 {background-image: url("../images/mmenu_wbg.png"); border-bottom: solid 3px #165e80; padding: 20px;}
	.sub3 h2 {color: #333333; font-size: 27px; line-height: 30px; font-weight: normal; font-family: 'HeliosLightRegular', sans-serif;
		position: relative; margin: 15px 0px;  margin-right: 20px;
	}
		.sub3 h2 span {position: absolute; background-image: url("../images/numBG.gif"); width: 22px; height: 22px;
			color: white; font-size: 14px; line-height: 20px; text-align: center; bottom: 2px; margin-left: 10px;
		}
	.sub3 img {width: 380px; border: solid 1px white;}
	.sub3 .left {width: 120px;}
		.sub3 .left a {float: left; clear: both; margin: 0px; padding: 0px; background-image: none;
			font-family: "Arial", "Helvetica", sans-serif;
			color: #165e80; text-decoration: underline; font-size: 13px; line-height: 16px; margin-bottom: 7px;
		}
		.sub3 .left a:hover {color: #c80009;}
		.sub3 a:hover img {border-color: #165e80;}
	.sub3 .right {width: 255px;}
		.sub3 .right p {font-family: "Arial", "Helvetica", sans-serif; font-size: 12px; line-height: 18px;}
