.tabs {width: 100%; overflow: hidden; margin-bottom: 25px; clear: both;}
	.tabs li {float: left; border-bottom: solid 1px #8da0a8; padding: 8px 30px; height: 20px; padding-top: 5px;}
	.tabs li a, .tabs li p {font-family: "Arial", "Helvetica", sans-serif; font-size: 15px; margin: 0px; padding: 0px;}
	.tabs li a { border-bottom: dashed 1px; text-decoration: none;}
	.tabs li.current {border: solid 1px #8da0a8; border-bottom: none; }
	.tabs li.current a, .tabs li.current p { color: #333333; border: none;}
	.tabs li.last {width: 1000px; margin-right: -1000px;}
	
	.blue {margin: 0px;}
	.blue li {border: none;}
	.blue li.current {border: none; background: url("../images/bluebg.png");}
	.blue li.current a, .blue li.current p {color: white;}
	
.leftMenu { margin-bottom: 20px;}
	.leftMenu * {font-size: 15px; line-height: 18px; border: solid 0px;}
	.leftMenu li { padding: 6px 0px;}
	.leftMenu li * {display: inline; margin: 0px; padding: 0px;}
	.leftMenu span {margin-left: 5px; display: none; line-height: 15px; vertical-align: top; font-size: 18px;}
	.leftMenu .current span {display: inline-block;}
	.leftMenu .current * {color: #4d4d4d; text-decoration: none; font-weight: bold; cursor: default; cursor: default;}
	.leftMenu a {display: inline-block;}
	.leftMenu .inactive {color: #999;}
	.leftMenu .inactive:hover {color: #c80009;}
	
.addMenu {float: left; width: 140px; display: inline; position: absolute; top: 43px; left: 5px;}
	.addMenu li {border: solid 0px; float: left; clear: both; width: 100%; margin-bottom: 3px; position: relative; background-image: url("../images/mmenu_tbg.gif");
		padding-right: 20px;
		*padding-right: 0px; background: none;
	}
	.addMenu li:hover {background-image: url("../images/mmenu_wbg.png");}
	.addMenu li:hover ul {display: block;}
	.addMenu .arrow {display: none; width: 4px; height: 7px; position: absolute; right: 7px; top: 50%; margin-top: -3px; background-image: url("../images/menuArrow.gif"); overflow: hidden;}
	.addMenu li:hover .arrow {display: block;}
	.addMenu li:hover p {color: #282d30; border-bottom: none; display: block;}
	.addMenu li .bg {display: block; float: left; width: 100%; z-index: 21; padding: 3px 10px; position: relative;}
	.addMenu li:hover .bg {background-image: url("../images/mmenu_bbg.png"); background-repeat: repeat;}
	.addMenu li p, .addMenu a {font-family: 'HeliosLightRegular', sans-serif; font-size: 13px; line-height: 15px;}
	.addMenu li p {color: #165e80; border-bottom: dashed 1px; display: inline; padding: 0px;}
	.addMenu a {border: none; color: #282d30; display: block; line-height: 20px; padding: 0px 5px; padding-top: 1px; position: relative; }
	.addMenu li ul {display: none; position: absolute; top: -3px; left: -3px; margin-left: 100%; width: 180px; padding: 3px;
		background-image: url("../images/mmenu_wbg.png");}
	.addMenu li ul li a {text-decoration: none; line-height: 20px;}
	.addMenu li ul li a:hover {color: #282d30;}
	.addMenu li ul li {background-image: url("../images/mmenu_bbg.png"); margin: 0px; padding: 0px;}
	.addMenu li ul li:hover {background-image: url("../images/mmenu_wbg.png") !important;}
	.addMenu .selected a, .addMenu .selected a:hover {color: #999999;}
	.addMenu .v {display: none; overflow: hidden; width: 10px; height: 9px; position: absolute; right: 7px; top: 50%; margin-top: -4px; background-image: url("../images/compare_v.png");}
	.addMenu .selected .v {display: block;}