<div class="w910">
	<div class="tree"><a href="#">Главная</a> / <a href="#">Каталог яхт</a> / <a href="#">Colombo</a> / <b>Alldays</b> <div class="arrow"></div></div>
<%= render 'shared/user_tabs' %>
</div>
<div class="formWrap">
<form class="personal" action="#">
	<div class="blueBg"></div>
	<div class="whiteBg">
		<div class="w910">
			<ul class="skins">
				<li><a href="#"><img src="images/skin.jpg" /></a></li>
				<li class="current"><a href="#"><img src="images/skin.jpg" /></a></li>
				<li><a href="#"><img src="images/skin.jpg" /></a></li>
				<li><a href="#"><img src="images/skin.jpg" /></a></li>
				<li><a href="#"><img src="images/skin.jpg" /></a></li>
				<li class="loading">Загрузка фона</li>
				<li class="addFile"><label>Загрузить свой фон<input type="file" /></label></li>
			</ul>
		</div>
	</div>
	<div class="w910">
		<fieldset class="noBorder">
			<div class="errorInfo">Введите корректный адрес электронной почты</div>
			<input class="submit formReady" value="Сохранить" href="#"><input class="submit formReady" value="Отмена" href="#">
		</fieldset>
	</div>
</form>
</div>