<div class="w910 personalInfo">
	<div class="tree"><a href="#">Главная</a> / <b>Блог</b> <div class="arrow"></div></div>
	<div class="clear"></div>
	<div class="left">
		<% if current_user.avatar %><img style="margin-right: 10px; margin-top: 5px;" class="left" src="<%= current_user.avatar.url(:normal) %>" /><% end %>
		<div class="left">
			<h2 class="color_black noclear"><%= current_user.name %></h2>
			<a class="submit formReady edit" href="<%= edit_user_path(current_user) %>">Редактировать</a>
		</div>
		<div class="clear"><br /></div>
		<h2>О себе</h2>
		<p>Я достиг в жизни практически всего. Много работал на бизнес и в конце-концов он стал работать на меня. Вот тогда я и смог осуществить свою Мечту – купить яхту. Ощущения от владения словами не передать. Это мечта! Никакой, даже самый дорогой, авто не сравнится с личной яхтой. Жизнь обрела новые оттенки.</p>
		<h2><a href="#">Личный блог</a> (25 записей)</h2>
		<ul class="pblogList">
		<li><a class="color_gray_d" href="#">Прогулка по заливу</a></li>
		<li><a class="color_gray_d" href="#">Хочу вот такую следующую!</a></li>
		<li><a class="color_gray_d" href="#">Лучшие причалы</a></li>
		<li><a class="color_gray_d" href="#">Первый сезон. Полет нормальныйон. Полет нормальныйон. Полет нормальныйон. Полет нормальныйон. Полет нормальный</a></li>
		<li><a class="color_gray_d" href="#">Мелкие неполадки</a></li>
		<li class="all"><a href="#">Все записи</a></li>
		</ul>
		
		<a class="submit formReady add" href="<%= new_blog_path %>">Добавить запись</a>
	</div>
	<div class="right">
	<h2>Моя яхта</h2>
		<a href="#" class="imgBorder"><img src="images/contentPic2.jpg" /></a>
		<div class="clear"></div>
		<p>Отделка  корпуса лакированным тиком подчеркивает  респектабельность модели.  Как у всех моделей верфи «Colombo», в яхту заложена  особая ценность благодаря качеству материалов, точности работы и  сконцентрированности инженеров на функциональных особенностях яхты.</p>
		<a class="forSale" href="#"><span>Продается</span></a>
	</div>
</div>	