	<div class="w910 typical">
		<%= render 'shared/breadcrumbs' %>
		<div class="left">
			<%= render 'shared/left_menu' %>
			<div class="leftBlueBox">
				<div class="resumePic"><a href="#">Резюме капитанов</a></div>
				<div class="clear"></div>
				<div class="servisPic"><a href="#">Заявка на сервисное обслуживание яхты</a></div>
			</div>
		</div>
		<div class="right">
			<div class="left col_2 ">
				<h2>Администрации портов</h2>
				<p><b>Большой порт Санкт-Петербург</b></p>
				<p class="contactInfo">Санкт-Петербург, ул.Гапсальская д.10.<br />
Тел. (812) 718-89-51, факс (812) 327-4020<br />
Телекс 622430 PASP RU<br />
Сайт: <a href="#">www.pasp.ru</a><br />
Эл. почта: <a href="#">public@mail.pasp.ru</a><br /><br /></p>
				<p><b>ГБУ «Волго-Балт»</b></p>
				<p class="contactInfo">Санкт-Петербург, ул. Большая Морская, д. 37<br />
Телефон секретаря: (812) 314-28-48<br /> 
Факс: (812) 315-38-58<br />
Эл. почта: <a href="#">gbu(at)volgo-balt.ru</a><br />
Сайт: <a href="#">www.volgo-balt.ru</a><br /><br /></p>
				<p><b>Большой порт Санкт-Петербург</b></p>
				<p class="contactInfo">Санкт-Петербург, ул.Гапсальская д.10.<br />
Тел. (812) 718-89-51, факс (812) 327-4020<br />
Телекс 622430 PASP RU<br />
Сайт: <a href="#">www.pasp.ru</a><br />
Эл. почта: <a href="#">public@mail.pasp.ru</a><br /><br /></p>
			</div>
			<div class="col_2 right">
				<h2>Погода</h2>
			</div>
			<div class="split_line"></div>
			<div class="col_2 left">
				<h2>Законы и правила</h2>
				<div class="file doc"><a href="#">Водный кодекс РФ, ДОКкодекс РФ, ДОКкодекс РФ, ДОКкодекс РФ, ДОК</a></div>
				<div class="file pdf"><a href="#">Регистрационный номер и имя судна, ДОК </a></div>
				<div class="file ppt" style="clear: left;"><a href="#">ВодныйРегистрационный номер и имя судна, Дмер и имя судна, Дмер и имудна, Дмер и имя судна, Дмер и имудна, Дмер и имя судна, Дмер и имя судна, Д</a></div>
				<div class="file doc"><a href="#">Водный кодекс РФ, ДОК</a></div>
				<div class="file doc"><a href="#">Водный кодекс РФ, ДОК</a></div>
			</div>
			<div class="col_2 right">
				<h2>Бланки</h2>
				<div class="file doc"><a href="#">Водный кодекс РФ, ДОК</a></div>
				<div class="file doc"><a href="#">Водный кодекс РФ, ДОК</a></div>
				<div class="file doc"><a href="#">ВодФ, ДОК</a></div>
				<div class="file doc"><a href="#">Водный кодекс РФ, ДОК</a></div>
				<div class="file doc"><a href="#">Водный кодекс РФ, ДОК</a></div>
			</div>
		</div>
	</div>