<div class="w910 typical">
			<%= render 'shared/breadcrumbs' %>
<div class="left">
<%= render 'shared/left_menu' %>
</div>
<div class="right">
	<%= raw @page.body %>
	<a href="/filter" class="podborButton">Подобрать яхту<span></span></a>
	<h2>Резюме капитанов</h2>
	<ul class="resume">
		<% @resumes = Resume.order(:created_at).limit(4).all %>
		<% if @resumes %>
		<%  @resumes.each do |resume| %>
		<%= render 'resumes/resume', :resume => resume %>
		<% end %>
		<% end %>

		<li><a class="button" href="/about/resumes">Все капитаны</a></li>
	</ul>
</div>
</div>