.spec a {white-space: normal;} 

.filters table .bg {}
div.f1 {
   position: relative;
}
div.f1 span {
   position: absolute;
   top: 50%;
}
div.f1 span span {
   position: relative;
   top: -50%;
}
