<% content_for :helpbar do %>
<div class="addItems_border">
<ul class="addItems">
	<li class="red"><%= link_to "Новая новость", new_resource_url  %></li>
    <li><%#= link_to 'Добавить новость', new_admin_post_path, :class => "ico_addArrow" %></li>
    
</ul>
</div>
<% end %>

<table border="0" id="main">
	<tr>
		<td>
			<ul class="tree news">
				<% collection.each do |resource| %>
				<li><span><a href="javascript:void();" class="pic context" id="post_<%=resource.id%>"></a><p class="date"><%= resource.updated_at.to_date %></p><p class="text"><%= resource.title %></p></span></li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>