<% if @item.exterior_assets.size > 0 %>
        <div class="imageflow" id="exteriorFlow">
			<% @item.exterior_assets.each do |asset| %>
            <img class="item" alt="" title="" src="<%= asset.asset.url(:gallery) %>" longdesc="javascript:tb_show( '<%= @item.title %>', '<%= asset.asset.url(:big) %>', '' )" />
            <% end %>
        </div>
<% end %>