<% if @item.interior_images.size > 0 %>
        <div class="imageflow" id="exteriorFlow">
			<% @item.interior_images.each do |image| %>
            <img class="item" alt="" title="" src="<%= image.url(:normal) %>" longdesc="javascript:tb_show( '<%= @item.title %>', '<%= image.url(:small_wallpaper) %>', '' )" />
            <% end %>
        </div>
<% end %>