<div class="cat_model" id="review">
        	<div class="left"><% if @item.image %><img alt="" src="<%= @item.image.url(:normal) %>" /><% end %>
            	<center><a href="#" class="videoButton"><span></span>Видеообзор</a></center>
            </div>
            <div class="right"><%= raw @item.description %></div>
</div>