
<div style="background: white;">
<div id="contentFlow" class="ContentFlow" style="background: url(/javascripts/contentflow/pics/pic0.png); height: 400px; width: 100%;">
    
    <div class="loadIndicator"><div class="indicator"></div></div>

    <div class="flow">

        <div class="item">
            <img class="content" src="/javascripts/contentflow/pics/pic0.png"/>
            <div class="caption">pic0: some stripes</div>
        </div>
        <div class="item">
            <img class="content" src="/javascripts/contentflow/pics/pic1.png"/>
            <div class="caption">pic1: some stripes</div>
        </div>
        <div class="item">
            <img class="content" src="/javascripts/contentflow/pics/pic2.png"/>
            <div class="caption">pic2: some stripes</div>
        </div>
        <div class="item">
            <img class="content" src="/javascripts/contentflow/pics/pic1.png"/>
            <div class="caption">pic1: some stripes</div>
        </div>

        <div class="item">
            <img class="content" src="/javascripts/contentflow/pics/pic0.png"/>
            <div class="caption">pic0: some stripes</div>
        </div>
        <div class="item">
            <img class="content" src="/javascripts/contentflow/pics/pic1.png"/>
            <div class="caption">pic1: some stripes</div>
        </div>
        <div class="item">
            <img class="content" src="/javascripts/contentflow/pics/pic2.png"/>
            <div class="caption">pic2: some stripes</div>
        </div>
        <div class="item">
            <img class="content" src="/javascripts/contentflow/pics/pic1.png"/>
            <div class="caption">pic1: some stripes</div>
        </div>

        <div class="item">
            <img class="content" src="/javascripts/contentflow/pics/pic0.png"/>
            <div class="caption">pic0: some stripes</div>
        </div>
        <div class="item">
            <img class="content" src="/javascripts/contentflow/pics/pic1.png"/>
            <div class="caption">pic1: some stripes</div>
        </div>
        <div class="item">
            <img class="content" src="/javascripts/contentflow/pics/pic2.png"/>
            <div class="caption">pic2: some stripes</div>
        </div>
        <div class="item">
            <img class="content" src="/javascripts/contentflow/pics/pic1.png"/>
            <div class="caption">pic1: some stripes</div>
        </div>

    </div>
    <div class="globalCaption"></div>
    <div class="scrollbar">
        <div class="slider"><div class="position"></div></div>
    </div>

</div>
</div>
