.tabs {width: 100%; overflow: hidden; margin-bottom: 25px; clear: both;}
	.tabs li {float: left; border-bottom: solid 1px #8da0a8; padding: 8px 30px; height: 17px;}
	.tabs li a, .tabs li p {font-family: "Arial", "Helvetica", sans-serif; font-size: 15px; margin: 0px; padding: 0px;}
	.tabs li a { border-bottom: dashed 1px; text-decoration: none;}
	.tabs li.current {border: solid 1px #8da0a8; border-bottom: none; }
	.tabs li.current a, .tabs li.current p { color: #333333; border: none;}
	.tabs li.last {width: 1000px; margin-right: -1000px;}
	
.leftMenu {}
	.leftMenu * {font-size: 15px; line-height: 18px; border: solid 0px;}
	.leftMenu li { padding: 8px 0px;}
	.leftMenu li * {display: inline; margin: 0px; padding: 0px;}
	.leftMenu span {margin-left: 5px; display: none; line-height: 15px; vertical-align: top; font-size: 18px;}
	.leftMenu .current span {display: inline-block;}
	.leftMenu .current * {color: #4d4d4d; text-decoration: none; font-weight: bold;}
	.leftMenu a {display: block;}