<%
@resume ||= resume
%>
<li><img src="images/photo.jpg" />
	<a class="name" href="#"><%= @resume.user.name %></a>
	<p><% if @resume.user.phone %>Тел.: <%= @resume.user.phone %><br /><% end %><% if @resume.user.email %>Эл. почта: <%= @resume.user.email %><% end %></p>
	<a class="invite" href="#">Пригласить</a>
</li>