<div class="w910">
	<div class="tree"><a href="/">Главная</a> / <a href="<%= user_path(current_user) %>">Личная страница</a> / <b>Редактирование резюме</b> <div class="arrow"></div></div>
	<%= render 'shared/user_tabs'%>
</div>
<div class="formWrap">
<%= render 'form' %>
</div>