<div class="w910 typical">
	<div class="tree"><a href="#">Главная</a> / <a href="#">Каталог яхт</a> / <a href="#">Colombo</a> / <b>Alldays</b> <div class="arrow"></div></div>
	<div class="clear"></div>
	<div class="left">
		<ul class="leftMenu">
		<li><a href="#">Капитану<span>→</span></a></li>
		<li class="current"><p>Типовая страницаТиповая стая страницая<span>→</span></p></li>
		<li class="current"><a href="#">Общая информация<span>→</span></a></li>
		<li><a href="#">Члены клубаЧлены клубаЧлены клубаЧлены клуба<span>→</span></a></li>
		</ul>
	</div>
	<div class="right">
		<ul class="resume">
			<li><img src="images/photo.jpg" />
				<a class="name" href="#">Брюс<br />Уиллис</a>
				<p>Тел.: +7 933 914-05-59<br />Эл. почта: sdrob@inbox.ru</p>
				<a class="invite" href="#">Пригласить</a>
			</li>
			<li><img src="images/photo.jpg" />
				<a class="name" href="#">Брюс<br />Уиллис</a>
				<p>Тел.: +7 933 914-05-59<br />Эл. почта: sdrob@inbox.ru</p>
				<a class="invite" href="#">Пригласить</a>
			</li>
			<li><img src="images/photo.jpg" />
				<a class="name" href="#">Брюс<br />Уиллис</a>
				<p>Тел.: +7 933 914-05-59<br />Эл. почта: sdrob@inbox.ru</p>
				<a class="invite" href="#">Пригласить</a>
			</li>
			<li><img src="images/photo.jpg" />
				<a class="name" href="#">Брюс<br />Уиллис</a>
				<p>Тел.: +7 933 914-05-59<br />Эл. почта: sdrob@inbox.ru</p>
				<a class="invite" href="#">Пригласить</a>
			</li>
			<li><img src="images/photo.jpg" />
				<a class="name" href="#">Брюс<br />Уиллис</a>
				<p>Тел.: +7 933 914-05-59<br />Эл. почта: sdrob@inbox.ru</p>
				<a class="invite" href="#">Пригласить</a>
			</li>
			<li><img src="images/photo.jpg" />
				<a class="name" href="#">Брюс<br />Уиллис</a>
				<p>Тел.: +7 933 914-05-59<br />Эл. почта: sdrob@inbox.ru</p>
				<a class="invite" href="#">Пригласить</a>
			</li>
			<li><img src="images/photo.jpg" />
				<a class="name" href="#">Брюс<br />Уиллис</a>
				<p>Тел.: +7 933 914-05-59<br />Эл. почта: sdrob@inbox.ru</p>
				<a class="invite" href="#">Пригласить</a>
			</li>
		</ul>
	</div>