
<li><img src="<%= member.avatar.url(:thumb) %>" />
	<a class="name" href="<%= user_path(member) %>"><%= member.name %></a>
	<p><% if current_user %>Статус: <%= member.user_type %><br/><% end %></p>

</li>