<div class="w910 typical">
	<div class="tree"><a href="/">Главная</a> / <a href="/about">Клуб</a> / <b>Резюме капитанов</b> <div class="arrow"></div></div>
	<div class="clear"></div>
	<div class="left">
		<%= render 'shared/left_menu' %>
	</div>
	<div class="right">
		<ul class="resume">
			<% if @members %>
			<% @members.each do |member| %>
				<%= render 'members/member' %>
			<% end %>
			<% end %>
		</ul>
	</div>
</div>